<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

<!--  
#################### 로그 형식 ####################
# %p debug, info, warn, error, fatal 등의 priority가 출력된다.
# %m 로그내용이 출력
# %d 로깅 이벤트가 발생한 시간  SimpleDataFormet에 따른 포맷팅
# %t 로그 이벤트가 발생된 쓰레드의 이름
# %% %를 표시하기 위해 사용
# %n 개행문자 (줄바꿈)
# %c 카테고리 표시 (?커스텀 logger를 의미하는 듯)
# %C 클래스명 표시 // api.org.apache.log4j.MyClass
# %F 로깅이 발생한 프로그램 파일명 // MyClass.java
# %l 로깅이 발생한 caller의 정보 // api.org.apache.log4j.myClass.test(myClass.java:17)
# %M 로깅이 발생한 method 이름 // getMethod
# %r 어플리케이션 시작 이후 로깅이 발생한 시점의 시간 (milliseconds)````````
#Threshold 어느 수준부터 로그를 남길것인가
#log4j.appender.kofatallog ==> 어펜더 종류 결정
 -->





	<!-- ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ APPENDER 설정 ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ -->

	<!-- 콘솔 로그 -->
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<!-- 패턴 레이아웃 설정.. -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%p %C.%M>>  %m%n" />
		</layout>
	</appender>
	
	<!-- 콘솔 로그 -->
	<appender name="stdout-short" class="org.apache.log4j.ConsoleAppender">
		<!-- 패턴 레이아웃 설정.. -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%M>>  %m%n" />
		</layout>
	</appender>

	<!-- 날짜별 로그 -->
	<appender name="webLog" class="org.apache.log4j.DailyRollingFileAppender">
		<!-- 이것은 날짜별로 로그를 남김. 파일명.확장자.DatePattern으로 정의 함 -->
		<param name="Append" value="true" /> <!-- 기존 파일에 덮어씀 -->
		<param name="DatePattern" value="'.'-yyMMdd" />
		<param name="file" value="G:/app/log.log" />
		<param name="ImmediateFlush" value="true" /> <!-- 로그메세지들이 전혀 버퍼되지 않는 것을 의미하며 대부분의 상황에 적당하다. -->
		<!-- <param name="MaxFileSize" value="100MB"/>
		<param name="MaxBackupIndex" value="10000"/> -->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss}>> %m%n" />
		</layout>
	</appender>

	<!-- xml 로그 -->
	<!-- xml형식으로 로그를 남김 -->
	<appender name="xmlout" class="org.apache.log4j.FileAppender">
		<param name="file" value="log4jxml.xml" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.xml.XMLLayout" />
	</appender>


	<!-- ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ LOGGER 설정 ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ -->

	
	
	<!-- kr.co.koreanmagic.web 로거 -->
	<logger name="kr.co.koreanmagic.web" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>
	
	<!-- kr.co.koreanmagic.hibernate 로거 -->
	<logger name="kr.co.koreanmagic.hibernate" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>

	<!-- 테스트 로거 -->
	<logger name="test" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="stdout" />
	</logger>

	<!-- 하이버네이트 로거 -->
	<logger name="org.hibernate" additivity="false">
		<level value="WARN" />
		<appender-ref ref="stdout-short" />
	</logger>
	
	
	<!-- 웹 로거 -->
	<logger name="webLog" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="webLog" />
		<appender-ref ref="stdout" />
	</logger>
	
	<!-- root 로거 기본 설정 -->
	<root>
		<level value="FATAL" />
		<appender-ref ref="stdout" />
	</root>
	
    
</log4j:configuration>  