<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="useColumnLabel" value="false" />
	</settings>
	
	<environments default="development">
    	<environment id="development">
      	<transactionManager type="JDBC"/>
      	<dataSource type="POOLED">
	        <property name="driver" value="com.mysql.jdbc.Driver"/>
        	<property name="url" value="jdbc:mysql://localhost/hancome?characterEncoding=UTF-8"/>
        	<property name="username" value="root"/>
        	<property name="password" value="ko9984"/>
      	</dataSource>
    	</environment>
  	</environments>

	
	<!-- 
	<plugins>
  		<plugin interceptor="kr.co.koreanmagic.interceptor.ExampleInterceptor">
    		<property name="someProperty" value="testCode"/>
  		</plugin>
	</plugins>
	-->
	
	

	<!--
	
	<typeHandlers>
		<typeHandler handler="kr.co.koreanmagic.handler.ExampeTypeHandler" />
	</typeHandlers>
	
	<objectFactory type="kr.co.koreanmagic.objectfactory.ExampleObjectFactory">
		<property name="message" value="고정철 짱" />
	</objectFactory>
	
	
	 이 부분은 그냥 치환자를 등록하는 공간이다 
    <typeAliases>
        <typeAlias type="kr.co.koreanmagic.customer.BankNum" alias="BankNum" />
        <typeAlias type="kr.co.koreanmagic.customer.BankName" alias="BankName" />
    </typeAliases>-->
    
    
    <mappers>
		<package name="kr.co.koreanmagic.web.db.mybatis.mapper" />
	</mappers>
	
    <!-- ③ 매퍼정보 설정 :: SqlSessionFactory가 파싱하여 보관하고 있을 mapper.xml 들
    <mappers>
    	<mapper resource="kr/co/koreanmagic/mapper/Mapper.xml" /> 클래스패스 기준으로 검색
    	<mapper url="file:///kr/co/koreanmagic/mapper/Mapper.xml" /> 파일로 검색
    	<mapper class="kr.co.koreanmagic.mapper.CustomMapper" /> 인터페이스 매퍼 일일이 지정
    	<package name="kr.co.koreanmagic.mapper" /> 패키지를 지정해서 그 아래로 모든 매퍼 검색
    	<mapper resource="mybatis/mappers/kr/co/koreanmagic/mapper/BankNameMapper.xml" />
		<mapper resource="mybatis/mappers/kr/co/koreanmagic/mapper/SubcontractorsMapper.xml" />
		<mapper resource="mybatis/mappers/kr/co/koreanmagic/mapper/WorkConditionMapper.xml" />
		<mapper resource="mybatis/mappers/kr/co/koreanmagic/mapper/WorkListMapper.xml" />
	</mappers>
   	 -->

    
</configuration>
