@charset "UTF-8";


[data-href] {
  cursor: pointer;
}



.fileTable {
  
  // ▒▒▒▒▒▒▒▒▒▒▒▒  정보란 부분  ▒▒▒▒▒▒▒▒▒▒▒▒
  .info {
    min-height: 21px;
    
    li {
      display: inline-block;
      &+li {
        margin-left: 10px;
      }
    }
    
    .input {
      input[type='file'] {
        display: none;
        &+label {
          padding: .2em .5em;
          border: 1px solid rgb(170,170,170);
          font-size: 11px;
          cursor: pointer;
          &:hover, &:focus {
            background: rgb(230,230,230);
          }
        }
      }
    } // .input
    
    .length:after {
      content: "개";
    }
  }
  
} // .scroll-table



[class*='ui-scrollTable-'].form, [class*='ui-scrollTable-'].modify {
  
  dt {
    > label {
      font-weight: normal;
      color: rgb(100,100,100);
    }
  }
  
}
