@charset "UTF-8";

$style-decoration-linker-link-color: rgb(16, 51, 86);
$style-decoration-linker-hover-color: rgb(16, 51, 86);
$style-decoration-linker-active-color: rgb(16, 51, 86);
$style-decoration-linker-visited-color: rgb(16, 51, 86);
