@charset "UTF-8";
/*** require ***/
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  기본 설정  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒*/
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  레이아웃 변수 설정  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒*/
/* *******************  Default 설정값  ******************* */
/* *******************  변수  ******************* */
/*
 * a 태그 링크시 설정
 */
/* bagic 함수 */
/*
 * 각종 단위를 없애고 숫자만 돌려준다.
 * SASS에서 단위는 숫자뒤에 있는 문자열을 뜻한다.
 * 0을 곱하면 0px, 0% 등 단위만 남는다. 여기에 1을 더하면 1px, 1%가 되는 셈이다.
 * 본래값에서 1단위를 나누면 정수로 된 몫이 남는다.
 * 그걸 돌려주면 결국 숫자값만 남게 되는것이다.
 * 
 * (계산설명)
 * 1) 단위가 있을지 모르는 숫자를 0으로 나누면 단위만 남게 된다.
 * 2) 단위에 1을 더하면 기본 단위가 된다. ex) 1px, 1% 등등
 * 3) 전체 단위숫자에서 기본단위를 나누면 SASS는 단위없이 몫만 반환한다.  
 */
/*
 * 100%를 숫자로 나눈 값.
 */
/*
 * 전체 넓이에서 해당 길이의 퍼센테이지 구하기
 */
/*
 * 숫자든 뭐든 들어오는 인자값을 string 타입으로 캐스팅해준다.
 */
/*
 * boolean 값으로 캐스팅
 */
/*
 * 100 * 1% = 100% 를 이용한다.
 * 숫자로 계산한 후 단위를 곱해(붙여서) 내보낸다.
 */
/* 그라데이션 */
/* 
※ Font 축약형을 쓸때에 다음과 같은 이슈가 있어, 축약형 보다는 풀어서 쓰는 것을 권장한다.
폰트 축약형을 쓰면 기존 element 의 속성이 지워질수도 있다.
폰트 축약형이 모두 적용되어 기존 속성을 가지고 오지 못한다.
폰트축약형을 쓸때에 font 속성중 지정안된 것들을 기본값으로 불러서 렌더링 하게 되어 불필요한 성능 낭비가 된다.

아래는 폰트 믹신이다
*/
/*
  font-style:italic; (폰트 기울기, normal:일반, italic:이탤릭체, oblique:기울기)
  font-variant:small-caps; (폰트 변형, normal:일반, small-caps:작은대문자)
  font-weight:bold; (폰트 굵기, normal:일반, bold:굵게)
  font-size:12px; (폰트 크기)
  line-height:14px; (줄 간격)
  font-family:gulim; (폰트 서체)
  
  
}
 */
/*
 * hoff (horizontal offset) : 그림자 오른쪽(양수) 또는 왼쪽(음수) 길이. 
    voff (vertical offset) : 그림자가 아래쪽(양수) 또는 위쪽(음수) 길이.
    bd (blur distance) : 그림자의 가장자리를 흐리게 만드는 길이.
    sd (spread distance) : 그림자가 사방으로 넓어지거나(양수) 줄어드는(음수) 길이. 쓰지 않아도 된다.
    color: 그림자 빛깔
    inset : 상자 안에 그림자를 만든다. 쓰지 않으면 바깥에 만든다.
 */
/*** require ***/
#header {
  position: fixed;
  margin-bottom: 3em;
  z-index: 99;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #232323;
  background: #323232; }

#topLine > .content, #contextLine > .content {
  margin: 0 auto;
  width: 1140px;
  height: 100%; }

#topLine {
  height: 31px;
  border-bottom: 1px solid #191919; }

#contextLine {
  height: 64px;
  background-image: linear-gradient(to bottom, #414141, #323232);
  background-image: -moz-linear-gradient(top, #414141, #323232);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#323232));
  background-image: -webkit-linear-gradient(top, #414141, #323232);
  background-image: -o-linear-gradient(top, #414141, #323232);
  border-top: 1px solid #595959; }

#bodyContainer {
  padding-top: 120px;
  margin: 0 auto;
  width: 1140px; }

#bodyContent {
  position: relative; }

#footerContent {
  margin: 20px auto 0 auto;
  width: 1140px;
  height: 100px; }

#topLine ._home {
  float: left; }
  #topLine ._home span {
    float: left;
    margin: 9.5px 0px;
    width: 112px;
    height: 12px;
    background: url("/img/global-static-img.png") 0 0; }
    #topLine ._home span:hover {
      background: url("/img/global-static-img.png") 0 -12px; }
#topLine ._btns {
  float: right;
  border-left: 1px solid #191919;
  border-right: 1px solid #191919; }
  #topLine ._btns + ._btns {
    margin-left: -1px; }
  #topLine ._btns > a {
    float: left;
    width: 80px;
    height: 31px;
    color: #aaa;
    text-align: center;
    line-height: 31px; }
  #topLine ._btns:hover ._sub {
    display: block; }
  #topLine ._btns ._sub {
    display: none;
    position: absolute;
    overflow: hidden;
    top: 24px;
    z-index: 99;
    border: 1px solid #191919;
    border-radius: 4px;
    box-shadow: 5px 2px 5px #222222;
    width: 78px;
    background: white; }
    #topLine ._btns ._sub > a {
      display: block;
      width: inherit;
      height: 27px;
      text-align: center;
      line-height: 27px; }
      #topLine ._btns ._sub > a + a {
        border-top: 1px solid #bebebe; }
      #topLine ._btns ._sub > a:hover {
        background: #ebebeb; }

/*
 * 컨텍스트 라인의 검색바
 */
.command-img {
  float: left; }

#searchContainer {
  display: inline-block;
  position: relative;
  margin-top: 13.5px;
  width: 500px; }
  #searchContainer > .select-btn, #searchContainer #searchInput, #searchContainer .submit {
    height: 37px;
    border: none;
    box-sizing: border-box; }
  #searchContainer #searchInput {
    font-size: 16px;
    font-family: '돋움',dotum,'Apple SD Gothic NEO',helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: -.7px; }
  #searchContainer > .select-btn {
    float: left;
    padding: 0 .6em;
    border-right: 1px solid #c8c8c8;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 3px;
    background-color: #f3f3f3; }
    #searchContainer > .select-btn:active, #searchContainer > .select-btn.active {
      color: #141414;
      background-color: gainsboro;
      text-shadow: none; }
  #searchContainer .submit {
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0px;
    float: right;
    width: 40px;
    font-size: 20px;
    color: white;
    background-color: #f08900; }
    #searchContainer .submit.disable {
      color: #969696;
      background-color: #bebebe; }
  #searchContainer .send {
    width: 45px;
    margin-left: 7px; }
  #searchContainer .input {
    overflow: hidden; }
    #searchContainer .input .drop-box {
      padding: 1em; }
  #searchContainer .date-options {
    width: 100%;
    box-sizing: border-box; }
    #searchContainer .date-options .title {
      font-weight: bold;
      margin-bottom: 9px; }
    #searchContainer .date-options .duration {
      margin-left: 7px; }
    #searchContainer .date-options input[type='text'] {
      font-family: 'tahoma';
      font-size: 14px;
      font-weight: bold;
      color: #435d80;
      text-align: center; }
    #searchContainer .date-options .date-select {
      float: right; }

#contextLine dl.btn {
  display: inline-block;
  width: 58px;
  height: 58px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: pointer; }
  #contextLine dl.btn:hover {
    border-color: #1a1a1a;
    background: #5a5a5a; }
    #contextLine dl.btn:hover dt {
      border-top: 1px solid #646464; }
      #contextLine dl.btn:hover dt a {
        color: gainsboro;
        text-shadow: 1px 1px 1px #1e1e1e; }
    #contextLine dl.btn:hover dd {
      color: #c8c8c8; }
  #contextLine dl.btn dt, #contextLine dl.btn dd {
    text-align: center;
    box-sizing: border-box; }
  #contextLine dl.btn dt {
    height: 41px;
    line-height: 41px;
    border-top: 1px solid transparent; }
    #contextLine dl.btn dt > a {
      font-size: 25px;
      color: #c8c8c8; }
  #contextLine dl.btn dd {
    height: 13px;
    line-height: 13px;
    font-size: 11px;
    color: #969696; }

.form-layout {
  border-top: 3px solid #747474;
  border-bottom: 1px solid #747474; }
  .form-layout > tbody + tbody > tr > td, .form-layout > tbody + tbody > tr > th {
    border-top: 1px solid #d2d2d2; }
  .form-layout > tbody > tr > th {
    padding: 2em;
    width: 150px;
    border-right: 1px solid #d2d2d2;
    text-align: left;
    vertical-align: top;
    font-size: 12px;
    font-weight: bold;
    background: #f9f9f9; }
  .form-layout > tbody > tr > td {
    padding: 2em; }

.form-wrap {
  padding: 0 7em; }

.headline {
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1.5px; }

.input-group.num {
  width: 4em; }
  .input-group.num ~ .input-group {
    width: 5em; }
.input-group.email {
  width: 10em; }
  .input-group.email ~ .input-group {
    width: 13em; }

.item-category {
  position: relative; }
  .item-category ._item-names {
    padding: .5em;
    width: 100%;
    box-sizing: border-box; }
    .item-category ._item-names > ul {
      float: left;
      text-align: center; }
      .item-category ._item-names > ul li {
        padding: .3em .8em; }
        .item-category ._item-names > ul li:hover {
          background: whitesmoke; }
        .item-category ._item-names > ul li.header {
          font-weight: bold; }
          .item-category ._item-names > ul li.header:hover {
            background: none; }

.scroll-table .modify .form, .scroll-table .upload .form {
  padding: .3em;
  border: 1px solid #bebebe;
  border-top: 0;
  background: #fafafa; }
.scroll-table .view table th, .scroll-table .view table td {
  padding: .5em; }
.scroll-table .view table th {
  width: 10%; }
.scroll-table .view table td {
  width: 40%; }

.page-nums {
  display: inline-block;
  margin: 0 auto;
  font-size: 0;
  vertical-align: middle; }
  .page-nums a {
    padding: .2em .3em;
    border: 1px solid transparent;
    text-align: center;
    vertical-align: middle;
    color: #969696;
    font-family: 'tahoma';
    font-size: 13px;
    box-sizing: border-box; }
    .page-nums a.current {
      font-size: 16px;
      font-weight: bold;
      cursor: default;
      color: #2e69b6; }
      .page-nums a.current:hover {
        border: 1px solid transparent; }
    .page-nums a:hover {
      border: 1px solid #bebebe;
      color: #282828; }

[class*='_img-static'] {
  background-image: url("/img/global-static-img.png"); }

._img-static-work, ._img-static-customer, ._img-static-subcontractor {
  width: 160px;
  height: 64px; }
._img-static-work {
  background-position: 0 -166px; }
._img-static-customer {
  background-position: 0 -38px; }
._img-static-subcontractor {
  background-position: 0 -102px; }

[data-href] {
  cursor: pointer; }

.fileTable .info {
  min-height: 21px; }
  .fileTable .info li {
    display: inline-block; }
    .fileTable .info li + li {
      margin-left: 10px; }
  .fileTable .info .input input[type='file'] {
    display: none; }
    .fileTable .info .input input[type='file'] + label {
      padding: .2em .5em;
      border: 1px solid #aaaaaa;
      font-size: 11px;
      cursor: pointer; }
      .fileTable .info .input input[type='file'] + label:hover, .fileTable .info .input input[type='file'] + label:focus {
        background: #e6e6e6; }
  .fileTable .info .length:after {
    content: "개"; }

[class*='ui-scrollTable-'].form dt > label, [class*='ui-scrollTable-'].modify dt > label {
  font-weight: normal;
  color: #646464; }

/*# sourceMappingURL=default.css.map */
