@charset "UTF-8";


/*
 * 아래 기본값을 바꾸면 템플릿을 변경할 수 있다.
 */
$standard-color-value: #333;
$template-border-lighten-color: lighten(#aaa, 10%);


/* *******************  COLOR  ******************* */
/*
 * gray 스케일
 * 다른 scss 소스에서 사용할 그레이 스케일을 10% 단위로 미리 정의해둔다.
 * 
 */
$color-gray-scale-100: rgb(0,0,0);
$color-gray-scale-90: rgb(25,25,25);
$color-gray-scale-80: rgb(51,51,51);
$color-gray-scale-70: rgb(76,76,76);
$color-gray-scale-60: rgb(102,102,102);
$color-gray-scale-50: rgb(127,127,127);
$color-gray-scale-40: rgb(153,153,153);
$color-gray-scale-30: rgb(178,178,178);
$color-gray-scale-20: rgb(204,204,204);
$color-gray-scale-10: rgb(229,229,229);

/*
 * a 태그 링크시 설정
 */
$style-decoration-a-link-color: rgb(16, 51, 86);
$style-decoration-a-hover-color: rgb(16, 51, 86);
$style-decoration-a-active-color: rgb(16, 51, 86);
$style-decoration-a-visited-color: rgb(16, 51, 86);
