@charset "UTF-8";


// h4, h3, h2 ...
@mixin text-size($name, $size:1em) {
  .#{$name} {
    color: inherit;
    font: {
      size: $size;
    }
  }
}

.text- {
  
  &num {
    font-family: tahoma;
  }
  
  &bold {
    font-weight: bold;
  }
  
  &align-left {
    text-align: left;
  }
  
  &align-right {
    text-align: right;
  } 
  
  &align-center {
    text-align: center;
  }
  
}

@include text-size(h1, 2.3em);
@include text-size(h2, 2.05em);
@include text-size(h3, 1.8em);
@include text-size(h4, 1.5em);
@include text-size(h5, 1.3em);



/* ************  각종 i  *********** */

i {

  &.separator {
    &:before {
      content:"|";
      display: inline-block;

      color: rgb(171, 171, 171);
      font-style: normal;
      font-size: 0.8em;
      
      margin: 0 .2em;
    }
  }
}







// 글씨크기
span {
  display: inline-block;
  &.text-size-5x {
    font-size: 3em;
  }
  &.text-size-4x {
    font-size: 2em;
  }
  &.text-size-3x {
    font-size: 2em;
  }
  &.text-size-2x {
    font-size: 1.5em;
  }
  &.text-size-1x {
    font-size: 1em;
  }

  
  
  
/*
 * <span class="px-'픽셀값'">
 */
@mixin text-px-size($size) {
  &.px-#{$size} {
    font-size: $size + px;
  }
}
  /* 폰트 픽셀 사이즈 */
  @for $i from 1 to 34 {
    @include text-px-size($i);
  }
  
  
  
  
/*
 * 폰트종류
 * <span class="'Dotum'">
 */
@mixin text-family($eng, $kor) {
  &.#{$eng} {
    font-family: $eng $kor;
  }
}
$font-family-map: (Dotum:'돋움', Gulim:'굴림');
@each $eng, $kor in $font-family-map {
  @include text-family($eng, $kor);
}
  
  
/*
 * 그레이 스케일
 * 5% 단위로 그레이 스케일 생성
 * <span class="gray-'숫자'">
 * 
 */ 
@mixin text-color($num) {
  &.gray-#{$num} {
    color: rgb(255,255,255) * ((100 - $num) / 100);
  }
}
$i: 100;
@while $i > 0 {
  @include text-color($i);
  $i: $i - 5;
}
 
 
 
 
/*
 * class="'컬러이름'"
 */ 
@mixin text-color-keyword($keyword, $color) {
  &.#{$keyword} {
    @if($color == null) { color: #{$keyword}; }
    @else { color: $color; }
    
  }
}
 /* 폰트 색상 키워드 */
  $font-color-map: (
    "black":null,
    "blue":null,
    "fuchsia":null,
    "gray":null,
    "green":null,
    "lime":null,
    "maroon":null,
    "navy":null,
    "olive":null,
    "purple":null,
    "red":null,
    "silver":null,
    "teal":null,
    "white":null,
    "yellow":null,
    "orange":null,
    "aliceblue":null,
    "antiquewhite":null,
    "aquamarine":null,
    "azure":null,
    "beige":null,
    "bisque":null,
    "blanchedalmond":null,
    "blueviolet":null,
    "brown":null,
    "burlywood":null,
    "cadetblue":null,
    "chartreuse":null,
    "chocolate":null,
    "coral":null,
    "cornflowerblue":null,
    "cornsilk":null,
    "crimson":null,
    "cyan":null,
    "darkblue":null,
    "darkcyan":null,
    "darkgoldenrod":null,
    "darkgray":null,
    "darkgreen":null,
    "darkkhaki":null,
    "darkmagenta":null,
    "darkolivegreen":null,
    "darkorange":null,
    "darkorchid":null,
    "darkred":null,
    "darksalmon":null,
    "darkseagreen":null,
    "darkslateblue":null,
    "darkslategray":null,
    "darkturquoise":null,
    "darkviolet":null,
    "deeppink":null,
    "deepskyblue":null,
    "dimgray":null,
    "dodgerblue":null,
    "firebrick":null,
    "floralwhite":null,
    "forestgreen":null,
    "gainsboro":null,
    "ghostwhite":null,
    "gold":null,
    "goldenrod":null,
    "greenyellow":null,
    "honeydew":null,
    "hotpink":null,
    "indianred":null,
    "indigo":null,
    "ivory":null,
    "khaki":null,
    "lavender":null,
    "lavenderblush":null,
    "lawngreen":null,
    "lemonchiffon":null,
    "lightblue":null,
    "lightcoral":null,
    "lightcyan":null,
    "lightgoldenrodyellow":null,
    "lightgray":null,
    "lightgreen":null,
    "lightpink":null,
    "lightsalmon":null,
    "lightseagreen":null,
    "lightskyblue":null,
    "lightslategray":null,
    "lightsteelblue":null,
    "lightyellow":null,
    "limegreen":null,
    "linen":null,
    "magenta":null,
    "mediumaquamarine":null,
    "mediumblue":null,
    "mediumorchid":null,
    "mediumpurple":null,
    "mediumseagreen":null,
    "mediumslateblue":null,
    "mediumspringgreen":null,
    "mediumturquoise":null,
    "mediumvioletred":null,
    "midnightblue":null,
    "mintcream":null,
    "mistyrose":null,
    "moccasin":null,
    "navajowhite":null,
    "oldlace":null,
    "olivedrab":null,
    "orangered":null,
    "orchid":null,
    "palegoldenrod":null,
    "palegreen":null,
    "paleturquoise":null,
    "palevioletred":null,
    "papayawhip":null,
    "peachpuff":null,
    "peru":null,
    "pink":null,
    "plum":null,
    "powderblue":null,
    "rosybrown":null,
    "royalblue":null,
    "saddlebrown":null,
    "salmon":null,
    "sandybrown":null,
    "seagreen":null,
    "seashell":null,
    "sienna":null,
    "skyblue":null,
    "slateblue":null,
    "slategray":null,
    "snow":null,
    "springgreen":null,
    "steelblue":null,
    "tan":null,
    "thistle":null,
    "tomato":null,
    "turquoise":null,
    "violet":null,
    "wheat":null,
    "whitesmoke":null,
  );
  
  @each $key, $value in $font-color-map {
    @include text-color-keyword($key, $value);
  }
  
  
} // -- <span> --> 
