<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.koreanmagic.web.db.mybatis.mapper.WorkListTypeMapper" >
  <resultMap id="BaseResultMap" type="kr.co.koreanmagic.web.domain.WorkListType" >
    <id column="list_type_id" property="id" jdbcType="INTEGER" />
    <result column="list_type_name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    list_type_id, list_type_name
  </sql>
  <insert id="insertSelective" parameterType="kr.co.koreanmagic.web.domain.WorkListType" >
    insert into work_list_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        list_type_id,
      </if>
      <if test="name != null" >
        list_type_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="kr.co.koreanmagic.web.domain.WorkListType" >
    update work_list_type
    <set >
      <if test="name != null" >
        list_type_name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where list_type_id = #{id,jdbcType=INTEGER}
  </update>
</mapper>