@charset "UTF-8";

/*
 * 컨텍스트 라인의 검색바
 */

$height: 37px;
$width: 500px;
$radius: $default-border-radius;

.command-img {
  float: left;
}

// 검색바
#searchContainer {
  
  display: inline-block;
  position: relative;
  margin-top: ($context-line-height - $height) / 2;
  
  width: $width;
  
  > .select-btn, #searchInput, .submit {
    height: $height;
    border: none;
    box-sizing: border-box;
  }
  
  #searchInput {
    font-size: 16px;
    font-family: '돋움',dotum,'Apple SD Gothic NEO',helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: -.7px;
  }
  
  // 선택버튼
  > .select-btn {
    float: left;
    padding: 0 .6em;
    border-right: 1px solid rgb(200,200,200);
    @include setRadius(left, $radius);
    
    background-color: rgb(243, 243, 243);
    
    &:active, &.active {
      color: rgb(20,20,20);
      background-color: rgb(220,220,220);
      text-shadow: none;
    }
  }
 
  
  // 검색버튼
  .submit {
    @include setRadius(right, $radius);
    float: right;
    width: 40px;
    font-size: 20px;
    color: white;
    background-color: rgb(240, 137, 0);
    
    &.disable {
      color: rgb(150,150,150);
      background-color: rgb(190, 190, 190);
    }    
    &.active {
      //color: white;
    }
  }
  
  .send {
    width: 45px;
    margin-left: 7px;
  }
  
  // 인풋박스를 갑싸는 박스
  .input {
    overflow: hidden;
    
    .drop-box {
      padding: 1em;
    }
  }
  
  .date-options {
    
    width: 100%;
    box-sizing: border-box;
    
    .title {
      font-weight: bold;
      margin-bottom: 9px;
    }
    .duration {
      margin-left: 7px;
    }
    
    input[type='text'] {
      font-family: 'tahoma';
      font-size: 14px;
      font-weight: bold;
      color: rgb(67, 93, 128);
      text-align: center;
    }
    
    //선택버튼
    .date-select {
      float: right;
    }
    
  }
  
}


#contextLine {
  
  $context-btn-size: $context-line-height - 6;
  
  dl.btn {
    
    display: inline-block;
    width: $context-btn-size;
    height: $context-btn-size;
    
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    
    vertical-align: middle;
    box-sizing: border-box;
    
    cursor: pointer;
    
    &:hover {
      border-color: rgb(26, 26, 26);
      background: rgb(90,90,90);
    dt {
       border-top: 1px solid rgb(100,100,100);
       a {
        color: rgb(220,220,220);
        text-shadow: 1px 1px 1px rgb(30,30,30);
      }
    }
    dd {
       color: rgb(200,200,200);
    }
  }
    
    dt, dd {
      text-align: center;
      box-sizing: border-box;
    }
    
    dt {
      height: $context-btn-size - 17px;
      line-height: $context-btn-size - 17px; 
      border-top: 1px solid transparent;
      >a {
        font-size: 25px;
        color: rgb(200, 200, 200);
      }
    }
    dd {
      height: 13px;
      line-height: 13px;
      font-size: 11px;
      color: rgb(150,150,150);
    }
  }
  
}
