@charset "UTF-8";


div {
  &.container {
    margin: 0 auto;
    min-width: $container-min-width;
    max-width: $container-max-width;
  } // &.container
} // div 


// bodytag 기준
body {
  
  
  &.default {
    
    $default-layout-header-height: 100px;
    $default-layout-footer-height: 50px;

    #header {
      width: 100%;
      height: $default-layout-header-height
    }
    
    
    #body {
      width: 100%;
      height: inherit;
      margin: (-$default-layout-header-height) 0 (-$default-layout-footer-height) 0;
  
      > div {
        padding-top: $default-layout-header-height;
      }
      
      #footer {
        width: 100%;
        height: $default-layout-footer-height;
      }
    }
  } // &.default
  
  
  
  
  // absolute를 이용한 상좌단 레이아웃
  &.admin {
    
    /*
    $layout-admin-top-height: 91px;
    $layout-admin-left-width: 200px;
    $layout-admin-bodycontent-padding: 10px;
    */

    & > div#top {
      position: fixed;
      top: 0;
      left: 0;
  
      width: 100%;
      height: $layout-admin-top-height;
      z-index: 2;
    }

    
    & > div#left {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      
      width: $layout-admin-left-width;
      min-height: 100%;
      
      & > div#left-container {
        margin-top: $layout-admin-top-height;
      }
    }

    
    & > div#body {
        width: 100%;
  
        & > div#body-container {
          //float: left;  // float가 들어가면 부모의 width, height 정보를 받지 않는다. 반응형 웹사이트를 위해 가로사이즈는 계속 상속되어야 한다.
          min-width: $container-min-width;
          max-width: $container-max-width;
          height: auto;
          padding: ($layout-admin-top-height + $layout-admin-bodycontent-padding) $layout-admin-bodycontent-padding 0 ($layout-admin-left-width + $layout-admin-bodycontent-padding);
        }
      } // #body
  } // &.admin
  
  
  
} // body
