@charset "UTF-8";

div.context {
  
  > .left {
    //background-image: url('/img/main-ver.png');
  }
  
}



// 컨텍스트 라인의 서치
div.context-search {
  
  height: 31px;
  margin-top: 10px;
  border: 0;
  
  select, input, button {
    border: 0;
  }
  
  select, button {
    color: #fff;
    background: rgb(81, 110, 144);
  }
  
  select {
    border-radius: 15px 0 0 15px;
    padding-left: 1em;
    font-size: 12px;
    
    border-right: rgb(220,220,220);
    
  }
  
  button {
    
  }
  
}
