@charset "UTF-8";


#left-container {
  
  
    > ul.nav-col {
      height: 194px;
      
      > li {
        float: left;
        width: 96px;
        height: 96px;
        $nav-border-color-lighten: rgb(30,30,30);
        $nav-border-color-darken: rgb(64,64,64);
      
        border-top: 1px solid  $nav-border-color-lighten;
        border-bottom: 1px solid $nav-border-color-darken;
      
        &:nth-child(odd) {
          border-right: 1px solid rgb(30,30,30);
        }
        &:nth-child(even) {
          border-left: 1px solid rgb(71, 71, 71);
        }
      
        > a {
          display: table-cell;
          width: inherit;
          height: inherit;
        
          color: rgb(164,164,164);
          text-align: center;
          vertical-align: middle;
          @include btn-color-action(rgb(53,53,53), rgb(35,35,35));
          
        }
      }
    } // > ul.nav-row
    
    
} // #left-container
