@charset "UTF-8";


#header {
  
  position: fixed;
  margin-bottom: 3em;
  z-index: 1000;

  width: 100%;
  height: auto;
  border-bottom: 1px solid rgb(35,35,35);
  background: rgb(50,50,50);
  
}

#topLine, #contextLine {
  & > .content {
    margin: 0 auto;
    width: $container-min-width;
    height: 100%;
  }
}

#topLine {
  height: 31px;
  border-bottom: 1px solid rgb(25,25,25);
}

#contextLine {
  height: 64px;
  border-top: 1px solid rgb(80,80,80);
}

#bodyContainer {
  padding-top: 97px + 30px;
  margin: 0 auto; 
  width: $container-min-width;
  background: rgb(244, 244, 244);
}


#bodyContent {

  width: $container-min-width;
}

