@charset "UTF-8";

/*** require ***/
@import "css/lib/tools";
/*** require ***/


@import "#";

.partner-insert {
  
  .form-group dt > label {
    width: 70px;
  }
  
  textarea[name='memo'] {
    width: 550px;
    height: 110px;
  }
  
}

