@charset "UTF-8";

/* 날라리야 */
$btn-border-color: rgb(210,210,210);
$btn-gradation-lighten: rgb(197,197,197);
$btn-gradation-darken: rgb(146,146,146);
$btn-font-color: rgb(25,25,25);
$btn-text-shadow-color: rgb(245,245,245);
$btn-border-radius: 3px;

