@charset "UTF-8";


/*
 * 
 */
._item-notice {  
  
  /*▶▶*/ $item-notice-height: 130px;
  
  
  height: $item-notice-height;
  background-color: rgb(140,140,140);
  
  ._current-info {
    width: 256px;
    height: inherit;
    background-color: rgb(87,87,87);
  }
  
  /*▶▶*/ $item-notice-box-height: 78px; // li 세로사이즈 ::가운데로 맞추기 위해--
  // notice 컨테이너의 속 박스를 정의한다. 
  ._notice-box {
    margin: ($item-notice-height - $item-notice-box-height) / 2 0px;
    height: $item-notice-box-height;
        
    text-align: center;
    
    .today-count {
      display: inline-block;
      position: absolute;
      margin-left: -2px;
      margin-top: 5px;
      
      width: 1.7em;
      height: 1.7em;
      
      color: rgb(140, 140, 140);
      font-size: 10px;
      font-family: 'tahoma';
      font-weight: bold;
      text-align: center;
      line-height: 17px;
      
      border-radius: 100px;
      background: rgb(220, 220, 220);
      
      &:empty { display: none; }
    }
    
  }
  
  // 각 숫자들을 넣기 위한 UL
  ul._work-count {
    position: relative;
    width: 100%;
    height: inherit;
    
    
    li {
      float: left;
      width: 14.28571%;
      
      ._notice-box {
        border-left: 1px solid rgb(164, 164, 164); // 사이마다 선 생성
        margin-left: -1px;
      } // ._notice-box
    } // li
  } // ul._work-count
  
  
  // 워크 단계별 작업 숫자
  [class*='_work-count-num'] {
    font-size: 30px;
    font-family: tahoma;
    font-weight: bold;
    line-height: 60px;
    color: rgb(220, 220, 220);
    
    &._current {
      font-size: 30px;
      color: rgb(255, 222, 118);
      text-decoration: underline;
      &:hover {
        color: rgb(255, 214, 84);
      }
    }
    
    &:hover {
      color: white;
    }
  }
  
  // 현재 페이지 작업 상태
  ._notice-state {
    position: relative;
    top: 5px;
  }
  
} // ._item-notice
