@charset "UTF-8";
/*** require ***/
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  기본 설정  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒*/
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  레이아웃 변수 설정  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒*/
/* *******************  Default 설정값  ******************* */
/* *******************  변수  ******************* */
/*
 * a 태그 링크시 설정
 */
/* bagic 함수 */
/*
 * 각종 단위를 없애고 숫자만 돌려준다.
 * SASS에서 단위는 숫자뒤에 있는 문자열을 뜻한다.
 * 0을 곱하면 0px, 0% 등 단위만 남는다. 여기에 1을 더하면 1px, 1%가 되는 셈이다.
 * 본래값에서 1단위를 나누면 정수로 된 몫이 남는다.
 * 그걸 돌려주면 결국 숫자값만 남게 되는것이다.
 * 
 * (계산설명)
 * 1) 단위가 있을지 모르는 숫자를 0으로 나누면 단위만 남게 된다.
 * 2) 단위에 1을 더하면 기본 단위가 된다. ex) 1px, 1% 등등
 * 3) 전체 단위숫자에서 기본단위를 나누면 SASS는 단위없이 몫만 반환한다.  
 */
/*
 * 100%를 숫자로 나눈 값.
 */
/*
 * 전체 넓이에서 해당 길이의 퍼센테이지 구하기
 */
/*
 * 숫자든 뭐든 들어오는 인자값을 string 타입으로 캐스팅해준다.
 */
/*
 * boolean 값으로 캐스팅
 */
/*
 * 100 * 1% = 100% 를 이용한다.
 * 숫자로 계산한 후 단위를 곱해(붙여서) 내보낸다.
 */
/* 그라데이션 */
/* 
※ Font 축약형을 쓸때에 다음과 같은 이슈가 있어, 축약형 보다는 풀어서 쓰는 것을 권장한다.
폰트 축약형을 쓰면 기존 element 의 속성이 지워질수도 있다.
폰트 축약형이 모두 적용되어 기존 속성을 가지고 오지 못한다.
폰트축약형을 쓸때에 font 속성중 지정안된 것들을 기본값으로 불러서 렌더링 하게 되어 불필요한 성능 낭비가 된다.

아래는 폰트 믹신이다
*/
/*
  font-style:italic; (폰트 기울기, normal:일반, italic:이탤릭체, oblique:기울기)
  font-variant:small-caps; (폰트 변형, normal:일반, small-caps:작은대문자)
  font-weight:bold; (폰트 굵기, normal:일반, bold:굵게)
  font-size:12px; (폰트 크기)
  line-height:14px; (줄 간격)
  font-family:gulim; (폰트 서체)
  
  
}
 */
/*
 * hoff (horizontal offset) : 그림자 오른쪽(양수) 또는 왼쪽(음수) 길이. 
    voff (vertical offset) : 그림자가 아래쪽(양수) 또는 위쪽(음수) 길이.
    bd (blur distance) : 그림자의 가장자리를 흐리게 만드는 길이.
    sd (spread distance) : 그림자가 사방으로 넓어지거나(양수) 줄어드는(음수) 길이. 쓰지 않아도 된다.
    color: 그림자 빛깔
    inset : 상자 안에 그림자를 만든다. 쓰지 않으면 바깥에 만든다.
 */
/*** require ***/
#searchCustomer {
  display: none;
  overflow: hidden;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  letter-spacing: -1px;
  background: white; }
  #searchCustomer ._search {
    padding: 25px 0;
    background: #637c9d;
    text-align: center; }
    #searchCustomer ._search input {
      height: 40px;
      border: 0;
      font-family: "맑은 고딕", "Apple SD Gothic Neo", Sans-serif;
      font-size: 15px;
      font-weight: bold;
      text-indent: 10px; }
  #searchCustomer ._result {
    overflow: auto;
    padding: 0 30px 30px 30px;
    height: 320px; }
  #searchCustomer .scroll-table {
    margin: 0 4em; }

[class*='_img-work'] {
  background-image: url("/img/text-work-list.png"); }

._img-work-today {
  width: 34px;
  height: 12px;
  background-position: -130px -126px; }

._img-work-circle-line {
  width: 18px;
  height: 18px;
  background-position: -130px -138px; }

._img-work-notice-1 {
  width: 130px;
  height: 40px;
  background-position: 0px 0px; }

._img-work-state-1 {
  width: 56px;
  height: 18px;
  background-position: -130px 0px; }

._img-work-notice-2 {
  width: 130px;
  height: 40px;
  background-position: 0px -40px; }

._img-work-state-2 {
  width: 56px;
  height: 18px;
  background-position: -130px -18px; }

._img-work-notice-3 {
  width: 130px;
  height: 40px;
  background-position: 0px -80px; }

._img-work-state-3 {
  width: 56px;
  height: 18px;
  background-position: -130px -36px; }

._img-work-notice-4 {
  width: 130px;
  height: 40px;
  background-position: 0px -120px; }

._img-work-state-4 {
  width: 56px;
  height: 18px;
  background-position: -130px -54px; }

._img-work-notice-5 {
  width: 130px;
  height: 40px;
  background-position: 0px -160px; }

._img-work-state-5 {
  width: 56px;
  height: 18px;
  background-position: -130px -72px; }

._img-work-notice-6 {
  width: 130px;
  height: 40px;
  background-position: 0px -200px; }

._img-work-state-6 {
  width: 56px;
  height: 18px;
  background-position: -130px -90px; }

._img-work-notice-7 {
  width: 130px;
  height: 40px;
  background-position: 0px -240px; }

._img-work-state-7 {
  width: 56px;
  height: 18px;
  background-position: -130px -108px; }

._img-work-type-DEFAULT {
  width: 30px;
  height: 15px;
  background-position: -130px -156px; }

._img-work-type-TODAY {
  width: 30px;
  height: 15px;
  background-position: -130px -171px; }

._img-work-type-BUSSY {
  width: 30px;
  height: 15px;
  background-position: -130px -186px; }

._item-names ._item-category {
  display: block;
  padding: .5em 0;
  margin-bottom: 4px;
  border-bottom: 1px solid gainsboro;
  text-indent: 1em;
  text-align: left;
  font-weight: bold; }
._item-names ul li {
  display: inline-block;
  padding: .4em;
  width: 20%;
  text-align: center;
  cursor: pointer; }
  ._item-names ul li:hover {
    background: #f0f0f0; }
._item-names ul + ._item-category {
  margin-top: 15px; }

._subcontractor-list ul.result li span {
  font-family: "맑은 고딕", "Apple SD Gothic Neo", Sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #666666;
  letter-spacing: -.5px;
  cursor: pointer; }
  ._subcontractor-list ul.result li span:hover {
    color: #282828; }

#command .form-group {
  width: 100%; }
  #command .form-group dt {
    width: 65px; }
#command .input-group {
  width: 500px; }
#command input + label {
  width: 85px; }

/*# sourceMappingURL=insert.css.map */
