@charset "UTF-8";
/*** require ***/
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  기본 설정  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒*/
/*▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  레이아웃 변수 설정  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒*/
/* *******************  Default 설정값  ******************* */
/* *******************  변수  ******************* */
/*
 * a 태그 링크시 설정
 */
.select-file:after, ._work:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

/* bagic 함수 */
/*
 * 각종 단위를 없애고 숫자만 돌려준다.
 * SASS에서 단위는 숫자뒤에 있는 문자열을 뜻한다.
 * 0을 곱하면 0px, 0% 등 단위만 남는다. 여기에 1을 더하면 1px, 1%가 되는 셈이다.
 * 본래값에서 1단위를 나누면 정수로 된 몫이 남는다.
 * 그걸 돌려주면 결국 숫자값만 남게 되는것이다.
 * 
 * (계산설명)
 * 1) 단위가 있을지 모르는 숫자를 0으로 나누면 단위만 남게 된다.
 * 2) 단위에 1을 더하면 기본 단위가 된다. ex) 1px, 1% 등등
 * 3) 전체 단위숫자에서 기본단위를 나누면 SASS는 단위없이 몫만 반환한다.  
 */
/*
 * 100%를 숫자로 나눈 값.
 */
/*
 * 전체 넓이에서 해당 길이의 퍼센테이지 구하기
 */
/*
 * 숫자든 뭐든 들어오는 인자값을 string 타입으로 캐스팅해준다.
 */
/*
 * boolean 값으로 캐스팅
 */
/*
 * 100 * 1% = 100% 를 이용한다.
 * 숫자로 계산한 후 단위를 곱해(붙여서) 내보낸다.
 */
/* 그라데이션 */
/* 
※ Font 축약형을 쓸때에 다음과 같은 이슈가 있어, 축약형 보다는 풀어서 쓰는 것을 권장한다.
폰트 축약형을 쓰면 기존 element 의 속성이 지워질수도 있다.
폰트 축약형이 모두 적용되어 기존 속성을 가지고 오지 못한다.
폰트축약형을 쓸때에 font 속성중 지정안된 것들을 기본값으로 불러서 렌더링 하게 되어 불필요한 성능 낭비가 된다.

아래는 폰트 믹신이다
*/
/*
  font-style:italic; (폰트 기울기, normal:일반, italic:이탤릭체, oblique:기울기)
  font-variant:small-caps; (폰트 변형, normal:일반, small-caps:작은대문자)
  font-weight:bold; (폰트 굵기, normal:일반, bold:굵게)
  font-size:12px; (폰트 크기)
  line-height:14px; (줄 간격)
  font-family:gulim; (폰트 서체)
  
  
}
 */
/*
 * hoff (horizontal offset) : 그림자 오른쪽(양수) 또는 왼쪽(음수) 길이. 
    voff (vertical offset) : 그림자가 아래쪽(양수) 또는 위쪽(음수) 길이.
    bd (blur distance) : 그림자의 가장자리를 흐리게 만드는 길이.
    sd (spread distance) : 그림자가 사방으로 넓어지거나(양수) 줄어드는(음수) 길이. 쓰지 않아도 된다.
    color: 그림자 빛깔
    inset : 상자 안에 그림자를 만든다. 쓰지 않으면 바깥에 만든다.
 */
/*** require ***/
#searchCustomer {
  display: none;
  overflow: hidden;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  letter-spacing: -1px;
  background: white; }
  #searchCustomer ._search {
    padding: 25px 0;
    background: #637c9d;
    text-align: center; }
    #searchCustomer ._search input {
      height: 40px;
      border: 0;
      font-family: "맑은 고딕", "Apple SD Gothic Neo", Sans-serif;
      font-size: 15px;
      font-weight: bold;
      text-indent: 10px; }
  #searchCustomer ._result {
    overflow: auto;
    padding: 0 30px 30px 30px;
    height: 320px; }
  #searchCustomer .scroll-table {
    margin: 0 4em; }

[class*='_img-work'] {
  background-image: url("/img/text-work-list.png"); }

._img-work-today {
  width: 34px;
  height: 12px;
  background-position: -130px -126px; }

._img-work-circle-line {
  width: 18px;
  height: 18px;
  background-position: -130px -138px; }

._img-work-notice-1 {
  width: 130px;
  height: 40px;
  background-position: 0px 0px; }

._img-work-state-1 {
  width: 56px;
  height: 18px;
  background-position: -130px 0px; }

._img-work-notice-2 {
  width: 130px;
  height: 40px;
  background-position: 0px -40px; }

._img-work-state-2 {
  width: 56px;
  height: 18px;
  background-position: -130px -18px; }

._img-work-notice-3 {
  width: 130px;
  height: 40px;
  background-position: 0px -80px; }

._img-work-state-3 {
  width: 56px;
  height: 18px;
  background-position: -130px -36px; }

._img-work-notice-4 {
  width: 130px;
  height: 40px;
  background-position: 0px -120px; }

._img-work-state-4 {
  width: 56px;
  height: 18px;
  background-position: -130px -54px; }

._img-work-notice-5 {
  width: 130px;
  height: 40px;
  background-position: 0px -160px; }

._img-work-state-5 {
  width: 56px;
  height: 18px;
  background-position: -130px -72px; }

._img-work-notice-6 {
  width: 130px;
  height: 40px;
  background-position: 0px -200px; }

._img-work-state-6 {
  width: 56px;
  height: 18px;
  background-position: -130px -90px; }

._img-work-notice-7 {
  width: 130px;
  height: 40px;
  background-position: 0px -240px; }

._img-work-state-7 {
  width: 56px;
  height: 18px;
  background-position: -130px -108px; }

._img-work-type-DEFAULT {
  width: 30px;
  height: 15px;
  background-position: -130px -156px; }

._img-work-type-TODAY {
  width: 30px;
  height: 15px;
  background-position: -130px -171px; }

._img-work-type-BUSSY {
  width: 30px;
  height: 15px;
  background-position: -130px -186px; }

#editor {
  width: 780px;
  height: 510px;
  border: 1px solid #222;
  border-radius: 10px;
  background: white; }
  #editor [id*="tabs"] {
    position: relative;
    padding: 30px 40px;
    height: 410px; }
  #editor > ul {
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #7a7a7a; }
    #editor > ul li {
      float: left;
      width: 100px;
      height: 40px;
      color: #e2e2e2;
      background: #7a7a7a; }
      #editor > ul li:first-child {
        border-top-left-radius: 10px; }
      #editor > ul li > a {
        display: block;
        height: 40px;
        color: inherit;
        text-align: center;
        line-height: 40px; }
      #editor > ul li:hover {
        background: #4b4b4b;
        color: #f0f0f0; }
      #editor > ul li.ui-simpleTabs-disable a, #editor > ul li.ui-simpleTabs-active a {
        cursor: default; }
      #editor > ul li.ui-simpleTabs-disable {
        color: #a4a4a4; }
        #editor > ul li.ui-simpleTabs-disable:hover {
          background: inherit; }
      #editor > ul li.ui-simpleTabs-active {
        background: white;
        font-weight: bold;
        color: #323232; }
  #editor .choice-list .title {
    font-size: 12px;
    color: #a0a0a0; }
  #editor .choice-list .current, #editor .choice-list .selected {
    margin-right: 3px;
    font-family: 'Dotum';
    font-weight: bold;
    letter-spacing: -1px; }
  #editor .choice-list .current {
    font-size: 16px; }
  #editor .choice-list .selected {
    font-size: 13px; }
  #editor .choice-list dt {
    height: 30px;
    line-height: 30px; }
  #editor .choice-list dd {
    height: 20px;
    line-height: 20px; }

.editor-form #memo {
  height: 60px; }

.btns {
  margin-top: 10px; }

._select-data th {
  width: 15%; }

[class*='_delivery-'] {
  display: block; }
  [class*='_delivery-'] dt, [class*='_delivery-'] dd {
    display: inline-block; }
  [class*='_delivery-'] dt {
    font-size: 11px;
    margin-right: 6px; }

._delivery-data dd {
  font-size: 15px;
  font-weight: bold;
  font-family: "맑은 고딕", "Apple SD Gothic Neo", Sans-serif; }

.add-list .before {
  color: #989898; }
.add-list td {
  padding: .5em 0; }
  .add-list td + td {
    text-align: right; }

.select-file {
  margin-top: 30px; }
  .select-file > * {
    float: left; }

/*
 * 
 */
._item-notice {
  /*▶▶*/
  height: 130px;
  background-color: #8c8c8c;
  /*▶▶*/ }
  ._item-notice ._current-info {
    width: 256px;
    height: inherit;
    background-color: #575757; }
  ._item-notice ._notice-box {
    margin: 26px 0px;
    height: 78px;
    text-align: center; }
    ._item-notice ._notice-box .today-count {
      display: inline-block;
      position: absolute;
      margin-left: -2px;
      margin-top: 5px;
      width: 1.7em;
      height: 1.7em;
      color: #8c8c8c;
      font-size: 10px;
      font-family: 'tahoma';
      font-weight: bold;
      text-align: center;
      line-height: 17px;
      border-radius: 100px;
      background: gainsboro; }
      ._item-notice ._notice-box .today-count:empty {
        display: none; }
  ._item-notice ul._work-count {
    position: relative;
    width: 100%;
    height: inherit; }
    ._item-notice ul._work-count li {
      float: left;
      width: 14.28571%; }
      ._item-notice ul._work-count li ._notice-box {
        border-left: 1px solid #a4a4a4;
        margin-left: -1px; }
  ._item-notice [class*='_work-count-num'] {
    font-size: 30px;
    font-family: tahoma;
    font-weight: bold;
    line-height: 60px;
    color: gainsboro; }
    ._item-notice [class*='_work-count-num']._current {
      font-size: 38px;
      color: #fafafa; }
    ._item-notice [class*='_work-count-num']:hover {
      color: white; }
  ._item-notice ._notice-state {
    position: relative;
    top: 5px; }

._location ._prev-btn, ._location ._next-btn, ._location ._current-page {
  position: fixed;
  margin-top: 70px; }
._location ._prev-btn, ._location ._next-btn {
  top: 45%;
  font-size: 65px; }
  ._location ._prev-btn i, ._location ._next-btn i {
    color: #e1e1e1; }
  ._location ._prev-btn a i, ._location ._next-btn a i {
    color: #787878; }
    ._location ._prev-btn a i:hover, ._location ._next-btn a i:hover {
      color: #505050; }
    ._location ._prev-btn a i:active, ._location ._next-btn a i:active {
      color: #1e1e1e; }
._location ._prev-btn {
  margin-left: -1.2em; }
._location ._right-position {
  position: absolute;
  top: 0;
  right: 0; }
._location ._next-btn {
  margin-left: .5em; }
._location ._current-page {
  left: 25%;
  z-index: 1000;
  width: 50%;
  font-size: 400px;
  font-family: tahoma;
  font-weight: bold;
  opacity: .25;
  text-align: center; }

/*
 * 사용자 요구에 따라 리스트를 펼치는 위젯
 * 실시간으로 리스트를 수정하고 삭제하는 기능이 있다. 
 */
._work-container {
  position: relative; }

._work-wrap {
  position: relative;
  margin-top: 1em; }

._work {
  position: relative;
  padding-bottom: 6px;
  border: 1px solid #b7b7b7;
  border-bottom: 1px solid #b8b8b8;
  min-height: 200px;
  background: white; }
  ._work .delete {
    display: none;
    position: absolute;
    top: -1px;
    right: -1px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 18.2px;
    color: rgba(0, 0, 0, 0.6);
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer; }
    ._work .delete:hover {
      color: rgba(0, 0, 0, 0.8);
      background: rgba(0, 0, 0, 0.5); }
  ._work:hover {
    border: 1px solid #4f7a92; }
    ._work:hover.delete {
      border: 1px solid #da1b1b;
      outline: 1px solid #da1b1b; }
    ._work:hover .delete {
      display: block; }

/* ******************* 데이터 글씨 설정 ******************* */
._work [data-name], ._work .customer-info > dd {
  color: #555555; }
._work .customer-info > dd, ._work [data-name='item'], ._work [data-name='subcontractor'] {
  font-family: "맑은 고딕", "Apple SD Gothic Neo", Sans-serif;
  font-weight: bold;
  letter-spacing: -1.3px; }
._work [data-name='item'], ._work [data-name='itemDetail'] {
  max-width: 92%;
  box-sizing: border-box; }
._work [data-name='item'] {
  margin-bottom: 2px;
  font-size: 14px;
  color: #343434;
  cursor: pointer; }
._work [data-name='itemDetail'] {
  font-size: 11px;
  color: #c7612c; }
._work [data-name='manager'] {
  top: -2px;
  font-weight: normal;
  color: #aaaaaa; }
  ._work [data-name='manager'][data-info] {
    color: #4c75b5;
    font-weight: bold; }
._work [data-name='manager.position'] {
  font-size: 11px;
  color: #4c75b5;
  letter-spacing: -1px; }
._work [data-name*='cost'], ._work [data-name*='price'] {
  font-family: tahoma;
  font-weight: bold;
  color: #3476a6; }
  ._work [data-name*='cost']:after, ._work [data-name*='price']:after {
    content: "원";
    font-weight: normal; }
  ._work [data-name*='cost']:empty:after, ._work [data-name*='price']:empty:after {
    content: ""; }
._work [data-name*='cost']:before {
  content: "제작단가 : ";
  font-weight: normal; }
._work [data-name*='insertTime'] {
  font-size: 11px;
  font-family: 'tahoma';
  color: #969696; }
._work [data-editor], ._work [data-info] {
  cursor: pointer; }

.data-row {
  padding: 0 8px;
  height: 17px; }
  .data-row dt, .data-row dd {
    height: 17px;
    line-height: 17px; }
  .data-row dt {
    float: left;
    margin-right: 6px;
    min-width: 10px;
    font-size: 11px;
    color: #ababab; }
  .data-row dd {
    overflow: hidden;
    white-space: nowrap; }
    .data-row dd > span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 100%; }
    .data-row dd .item-tag, .data-row dd .today-work {
      position: absolute;
      margin-left: 3px; }
    .data-row dd .item-tag {
      margin-top: 3px;
      font-size: 10px;
      color: #666b65; }
    .data-row dd.right {
      text-align: right; }

._item {
  margin-top: 7px;
  margin-bottom: 2px; }

._item-detail {
  margin-bottom: 8px; }

._price {
  margin-bottom: 6px; }

.item-info {
  margin-bottom: 8px; }

.customer-info {
  margin-top: 15px;
  margin-bottom: 12px;
  height: 35px; }
  .customer-info dt {
    height: 35px; }
    .customer-info dt > img {
      width: 35px;
      height: 35px;
      border-radius: 5px; }
  .customer-info .customer-name {
    height: 18px; }
    .customer-info .customer-name > span {
      height: 18px; }

.work-file {
  padding: .1em;
  width: 250px;
  white-space: normal; }
  .work-file > a {
    display: block;
    margin: 7px auto; }

.text-box {
  overflow: auto;
  width: 200px;
  padding: .7em;
  max-height: 160px;
  line-height: 1.5em; }

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒ 이미지 갤러리 ▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
._work-img {
  height: 100px;
  text-align: center;
  background: #e6e6e6; }
  ._work-img > img {
    height: inherit; }

._work-controller .editor {
  display: none; }
._work-controller.editor dd * {
  display: none; }
._work-controller.editor dd > button:first-child, ._work-controller.editor dd .editor {
  display: inline-block; }
._work-controller dd {
  line-height: normal; }
  ._work-controller dd > .disable {
    display: none; }
  ._work-controller dd button {
    line-height: 1em;
    border: 1px solid #b4b4b4; }
._work-controller [class*='work-type'] {
  padding: 2px;
  width: 30px;
  height: 15px;
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  text-align: center;
  color: white;
  box-sizing: border-box; }
._work-controller .work-type-DEFAULT, ._work-controller .work-type-TODAY, ._work-controller .work-type-BUSSY {
  color: white; }
._work-controller .work-type-DEFAULT {
  background: #5cb85c;
  border-color: #4cae4c; }
._work-controller .work-type-TODAY {
  background: #428bca;
  border-color: #357ebd; }
._work-controller .work-type-BUSSY {
  background: #d9534f;
  border-color: #d43f3a; }
._work-controller ._resource-file-refer {
  cursor: pointer; }
._work-controller ._state-select {
  float: right;
  font-size: 11px; }
  ._work-controller ._state-select .select-box {
    right: 0;
    white-space: nowrap; }
._work-controller ._pop-file-refer .size {
  position: absolute;
  margin-top: -7px;
  font-size: 10px;
  font-family: tahoma;
  color: #c83232; }

.info-table {
  display: none;
  overflow: hidden;
  position: relative;
  padding: 75px 2em 2em;
  width: 700px;
  border-radius: 10px;
  background: white; }
  .info-table .label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-family: "맑은 고딕", "Apple SD Gothic Neo", Sans-serif;
    font-size: 25px;
    line-height: 50px;
    color: white;
    text-align: center;
    background: #4171a0; }
  .info-table table th, .info-table table td {
    height: 26px; }
  .info-table table th {
    width: 15%; }
  .info-table table td {
    width: 35%;
    text-indent: 1em; }

/*# sourceMappingURL=list.css.map */
