@charset "UTF-8";
/*
 * 아래 기본값을 바꾸면 템플릿을 변경할 수 있다.
 */
/* *******************  COLOR  ******************* */
/*
 * gray 스케일
 * 다른 scss 소스에서 사용할 그레이 스케일을 10% 단위로 미리 정의해둔다.
 * 
 */
/*
 * a 태그 링크시 설정
 */
/* bagic 함수 */
/*
 * 각종 단위를 없애고 숫자만 돌려준다.
 * SASS에서 단위는 숫자뒤에 있는 문자열을 뜻한다.
 * 0을 곱하면 0px, 0% 등 단위만 남는다. 여기에 1을 더하면 1px, 1%가 된다.
 * 본래값에서 1단위를 나누면 정수로 된 몫이 남는다.
 * 그걸 돌려주면 결국 숫자값만 남게 되는것이다. 
 */
/*
 * 100%를 숫자로 나눈 값.
 */
/*
 * 숫자든 뭐든 들어오는 인자값을 string 타입으로 캐스팅해준다.
 */
/*
 * boolean 값으로 캐스팅
 */
/*
 * 100 * 1% = 100% 를 이용한다.
 * 숫자로 계산한 후 단위를 곱해(붙여서) 내보낸다.
 */
/* 그라데이션 */
/* 
※ Font 축약형을 쓸때에 다음과 같은 이슈가 있어, 축약형 보다는 풀어서 쓰는 것을 권장한다.
폰트 축약형을 쓰면 기존 element 의 속성이 지워질수도 있다.
폰트 축약형이 모두 적용되어 기존 속성을 가지고 오지 못한다.
폰트축약형을 쓸때에 font 속성중 지정안된 것들을 기본값으로 불러서 렌더링 하게 되어 불필요한 성능 낭비가 된다.

아래는 폰트 믹신이다
*/
/*
  font-style:italic; (폰트 기울기, normal:일반, italic:이탤릭체, oblique:기울기)
  font-variant:small-caps; (폰트 변형, normal:일반, small-caps:작은대문자)
  font-weight:bold; (폰트 굵기, normal:일반, bold:굵게)
  font-size:12px; (폰트 크기)
  line-height:14px; (줄 간격)
  font-family:gulim; (폰트 서체)
  
  
}
 */
/*
 * hoff (horizontal offset) : 그림자 오른쪽(양수) 또는 왼쪽(음수) 길이. 
    voff (vertical offset) : 그림자가 아래쪽(양수) 또는 위쪽(음수) 길이.
    bd (blur distance) : 그림자의 가장자리를 흐리게 만드는 길이.
    sd (spread distance) : 그림자가 사방으로 넓어지거나(양수) 줄어드는(음수) 길이. 쓰지 않아도 된다.
    color: 그림자 빛깔
    inset : 상자 안에 그림자를 만든다. 쓰지 않으면 바깥에 만든다.
 */
/*
 * 버튼 클릭시 색깔변화
 */
/*
* headline에 있는 모든 커스텀 div의 display를 table-cell로 설정한다.
* 이는 vertical-align을 middle로 설정하기 위한 것이다.
*/
.ui-itemContainer-controller {
  height: 4em;
  background-color: #333; }

/*
 * 사용자 요구에 따라 리스트를 펼치는 위젯
 * 실시간으로 리스트를 수정하고 삭제하는 기능이 있다. 
 */
.ui-itemContainer-container {
  position: relative;
  width: inherit;
  height: auto;
  white-space: nowrap;
  letter-spacing: -1px;
  /* 글씨 속성 */
  /* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒ 사용자 인터페이스 ▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */ }
  .ui-itemContainer-container ._item-container {
    position: relative;
    border: 1px solid #d6d6d6;
    border-bottom: 1px solid #b8b8b8;
    min-height: 200px;
    overflow: hidden;
    background: white; }
    .ui-itemContainer-container ._item-container > div {
      padding: 0 1em; }
    .ui-itemContainer-container ._item-container:hover {
      border: 1px solid #4f7a92;
      outline: 1px solid #4f7a92; }
  .ui-itemContainer-container span {
    line-height: 1.2em; }
    .ui-itemContainer-container span._work-done, .ui-itemContainer-container span._work-separator, .ui-itemContainer-container span._delivery-limit, .ui-itemContainer-container span._time {
      position: relative; }
    .ui-itemContainer-container span._time {
      left: -5px; }
    .ui-itemContainer-container span._delivery-limit {
      left: 20px; }
    .ui-itemContainer-container span._work-done {
      top: -1.5px; }
    .ui-itemContainer-container span._work-separator {
      top: -2px;
      left: -2px; }
  .ui-itemContainer-container ._item-edit, .ui-itemContainer-container ._item-resource {
    text-align: right;
    font-size: 1.16em; }
  .ui-itemContainer-container ._item-index:before {
    content: "no.";
    color: #8c8c8c;
    font-size: .65em;
    font-weight: normal; }
  .ui-itemContainer-container ._item-index:after {
    position: relative;
    top: -.2em;
    content: " | ";
    color: #8c8c8c;
    font-size: .6em;
    font-weight: normal; }
  .ui-itemContainer-container ._work_state {
    font-weight: bold; }
  .ui-itemContainer-container ._notice-panel {
    position: absolute;
    width: 100px;
    padding: .13em;
    text-align: left;
    color: #616161;
    text-shadow: 1px 1px 0px white; }
  .ui-itemContainer-container ._item-panel {
    overflow: hidden;
    height: 150px;
    margin-bottom: .6em;
    outline: 1px solid #cdcdcd;
    background: #e6e6e6;
    text-align: center; }
    .ui-itemContainer-container ._item-panel ._screen > img {
      max-height: 130px; }
    .ui-itemContainer-container ._item-panel ._control {
      height: 20px; }
  .ui-itemContainer-container ._item-edit {
    margin: 0.15em 0 0.45em; }
    .ui-itemContainer-container ._item-edit i {
      padding: .15em;
      margin-left: -.15em;
      border: 1px solid #f8f8f8;
      border-radius: 2px;
      cursor: pointer;
      color: #505050; }
      .ui-itemContainer-container ._item-edit i:hover {
        border: 1px solid #aaa;
        background: #f3f3f3;
        text-shadow: 1px 1px 1px white;
        color: #323232; }
    .ui-itemContainer-container ._item-edit > a:hover {
      color: #b51f1f; }
  .ui-itemContainer-container ._item-label, .ui-itemContainer-container ._item-date, .ui-itemContainer-container ._item-data {
    vertical-align: middle; }
    .ui-itemContainer-container ._item-label:after, .ui-itemContainer-container ._item-date:after, .ui-itemContainer-container ._item-data:after {
      content: "";
      display: block;
      clear: both; }
  .ui-itemContainer-container ._item-label {
    margin-bottom: .6em; }
    .ui-itemContainer-container ._item-label img {
      float: left;
      margin-right: .8em;
      width: 40px;
      height: 40px; }
    .ui-itemContainer-container ._item-label ._btn-modify {
      position: absolute;
      top: 50%;
      right: 1em; }
    .ui-itemContainer-container ._item-label ._customer {
      padding: .2em 0 .5em;
      color: #4a4a4a;
      text-shadow: 1px 1px 1px white; }
    .ui-itemContainer-container ._item-label ._date {
      color: #818181; }
      .ui-itemContainer-container ._item-label ._date.new:after {
        position: relative;
        top: -.1em;
        padding: 0 .3em .2em .3em;
        margin-left: .3em;
        width: 50px;
        border-radius: .2em;
        content: 'new';
        color: white;
        font-size: .7em;
        font-family: tahoma;
        background: #d63030; }
  .ui-itemContainer-container ._item-data {
    position: relative; }
    .ui-itemContainer-container ._item-data ._label, .ui-itemContainer-container ._item-data ._value {
      padding: .3em 0 .1em 0;
      min-height: 1.35em;
      border: 1px solid white; }
    .ui-itemContainer-container ._item-data ._value {
      font-weight: bold;
      color: #5a5a5a; }
    .ui-itemContainer-container ._item-data ._label {
      margin-right: 5px;
      width: 43px;
      font-size: .9em;
      color: #969696; }
    .ui-itemContainer-container ._item-data ._data-cell {
      float: left;
      width: 100%; }
      .ui-itemContainer-container ._item-data ._data-cell:last-child {
        border-bottom: none; }
      .ui-itemContainer-container ._item-data ._data-cell._half {
        width: 49%; }
      .ui-itemContainer-container ._item-data ._data-cell.float-right {
        float: right; }
    .ui-itemContainer-container ._item-data ._modify-confirm {
      display: none; }
  .ui-itemContainer-container ._item-resource {
    margin-top: .7em;
    padding-top: .5em;
    margin-bottom: .6em; }

/* ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒  자바스크립트 제어 클래스  ▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒ */
.ui-itemContainer-item {
  position: relative;
  margin-top: 1em;
  /* 수정 시 */
  /* 안보이게 */ }
  .ui-itemContainer-item.modify ._item-data ._value {
    border: 1px solid #afafaf;
    background: #fcfcfc; }
    .ui-itemContainer-item.modify ._item-data ._value input {
      padding: 0.05em 0 0 .3em;
      width: 100%;
      border: 0;
      font-size: 1em;
      color: #b2490e; }
  .ui-itemContainer-item.modify ._item-data ._label {
    background: inherit; }
  .ui-itemContainer-item.modify ._item-data ._modify-confirm {
    display: block;
    position: absolute;
    top: 101%;
    right: 0;
    z-index: 90;
    height: 2.5em;
    width: 150px;
    border: 1px solid #a3a3a3;
    background: white;
    box-shadow: 2px 2px 2px #aaaaaa; }
    .ui-itemContainer-item.modify ._item-data ._modify-confirm button {
      float: left;
      padding: .2em 0;
      width: 4em; }
  .ui-itemContainer-item.ui-itemContainer-highlight ._item-container {
    border: 1px solid #4f7a92; }
