@charset "UTF-8";

/*
 * @아래 기본값은 target/template.scss 에서 찾아볼 수 있다.
 */ 
html, body {
  background-color: $base-tag-body-background-color;
  @include font($family:$base-tag-body-font-family, $size:$base-tag-body-font-size);
  width: 100%;
  height: 100%;
  color: $base-tag-body-color;
  //letter-spacing: -.06em;
}
