@charset "UTF-8";


table {
  width: 100%;
  height: 100%;
  border-collapse: separate;  // collapse로 하면 막장이 된다.
  border-spacing: 0;
  
  // 테이블 선
  /*
   * 1) table border로 전체 테두리를 잡고
   * 2) 모든 th, td은 top, left 선을 가진다.
   * 3) 각 tr의 첫번째 th, td의 border-left는 0이 되어, 전체 테두리와 겹쳐지지 않게 한다.
   */
  &.table {
    background-color: #fff;
    
    /* 
     * 테이블 전체 테두리
     * 전체 테두리를 따로 클래스화 시키는 이유는, 여러개의 테이블을 모아 하나의 box모델로 사용할수도 있기 때문이다.
     * 이때에는 내부 테두리선만 줌으로써, 좀 더 확장가능한 박스모델이 된다. 
     */
    &.outline {
      border: 1px solid $base-tag-default-border-color; 
    }
    
    
    &.bordered {
      //border: 1px solid $base-tag-default-border-color; 
      > thead {
        > tr {
          > th {
            order-left: 1px solid $base-tag-default-border-color;
          }
        }
      }
      
      > tbody {
        > tr {
          > th, > td {
              border-left: 1px solid $base-tag-default-border-color;
              border-top: 1px solid $base-tag-default-border-color;
              &:first-child {
                 border-left: none;
              }
          }
        }
      }
      
    }
    
    //border-left: none;
    border-radius: $base-tag-default-border-radius;
    
    /*
     * thead없이 tbody만으로 이루어진 테이블이라면
     * 첫번째 tbody의 td:border-top을 0으로 하여, 테이블 테두리와 겹치지 않게 한다. 
     */
    > tbody:first-child {
      > tr:first-child {
        > th, >td {
          border-top: 0;
        }
      }
    }
    
    > thead {
      @include box-top-default-bg();
      > tr {
        > th {
          padding: .5em;
          
          // 테두리 귀돌이
          &:first-child {
            border-left: none;
            border-top-left-radius: $base-tag-default-border-radius;
          }
          &:last-child {
            border-top-right-radius: $base-tag-default-border-radius;
          }
        }
      } // > tr
    } // > thead


    > tbody {
      
      /*
         * 마지막 tbody에 해당하고, 그 마지막 tr에 해당하는 td의 아래 선을 지운다.
         * td는 border-borrom을 없앤다. 
         * 왜냐하면 thead와 tbody는 자체적으로 border-bottom을 가지게 되는데, 이와 겹친다.
         */
        &:last-child {
          > tr {
            &:last-child {
              > td {
                border-bottom: none;
              }
            } // &:last-child
          } // > td
        } // tbody:last-child


      > tr {
        
        > td {
          padding: .5em;
          
        } // > td
      } // > tr
    } // >tbody
    
  } // &.table-border
  
  
} /* table */
  
  