@charset "UTF-8";

/*
 * 일반 박스 모델
 */
div.notice-box {
  
  
  > div {
    border: 1px solid $base-tag-default-border-color;
  }
  
  > div.header {
    
    padding: .65em;
    border-radius: $base-tag-default-border-radius $base-tag-default-border-radius 0 0;
    border-bottom: 1px solid lighten($base-tag-default-border-color, 10%);
    @include box-top-default-bg();
    
    
    text-align: center;
  }
  
  > div.content {
    padding: .5em;
    
    background-color: white;
    border-radius: 0 0 $base-tag-default-border-radius $base-tag-default-border-radius;
    border: 1px solid $base-tag-default-border-color;
    border-top: none;
  }
  
}


span {
  
  &.btn {
    padding: .3em;
    border: 1px solid $template-border-lighten-color;
    border-radius: 2px;
  }
}
