@charset "UTF-8";

/*
$base-tag-default-border-color: rgb(210,210,210);
$btn-gradation-lighten: rgb(197,197,197);
$btn-gradation-darken: rgb(146,146,146);
$btn-font-color: rgb(25,25,25);
$btn-text-shadow-color: rgb(245,245,245);
$base-tag-default-border-radius: 3px;
*/

/*
 * 안에있는 글씨 크기에 따라 움직인다.
 */
.btn-group {
  display: table-cell;
  
  text-shadow: 0 1px 0 #fff;
  border-radius: $base-tag-default-border-radius;
  font-size: 0;
  
  height: inherit;
  text-align: center;
  vertical-align: middle;
  
  > a {
    
    @include box-top-default-bg();
    font-size: 12px;
    cursor: pointer;
    border: 1px solid $base-tag-default-border-color;
    display: inline-block;
    padding: .5em 1em;
    margin-left: -1px;
    
    &:first-child {
      margin-left: 0;
      border-radius: $base-tag-default-border-radius 0 0 $base-tag-default-border-radius;
    }
    
    &:last-child {
      border-radius: 0 $base-tag-default-border-radius $base-tag-default-border-radius 0;
      
      /* 처음이자 마지막. 즉 버튼이 하나만 있을때 */
      &:first-child {
        border-radius: $base-tag-default-border-radius;
      }
    } // &:last-child
  }
}



/*
 * 셀렉터 버튼
 */
.select-btn {
  
  position: relative;
  border: 1px solid $base-tag-default-border-color;
  border-radius: $base-tag-default-border-radius;
  float: left;
  
  > ul, > button {
    border: 0;
    float: left;
  }
  
  > button {
    height: 28px;
    
    &.btn {
      border-radius: $base-tag-default-border-radius 0 0 $base-tag-default-border-radius;
      border-right: 1px solid $base-tag-default-border-color;
    }
    
    &.toggle {
      width: 23px;
      border-radius: 0 $base-tag-default-border-radius $base-tag-default-border-radius 0;
      border-left: 1px solid $base-tag-default-border-color * 1.2;
      &:after {
        content: "▼";
        font-size: .75em;
        color: rgb(51, 51, 51);
        text-shadow: 1px 1px 0 rgb(255, 255, 255);
        position: relative;
        left: -5px;
      } // &:after
      
      // 선택시
      &.active {
        
      }
    } // &.toggle
  } // > button
  
  > ul.option {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid $base-tag-default-border-color;
    background: #fff;
    margin: 4px 0 0 0;
    
    border-radius: $base-tag-default-border-radius * 1.5;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    
    /* 
     * 이 속성을 통해서 가로 사이즈가 결정된다.
     * white-space는 텍스트 줄바꿈에 관련된 속성이다.
     */
    white-space: nowrap;
    
    z-index: 1000;
    
    > li {
      // 경계선
      &.divider {
        border-top: 1px solid #aaa;
      }
      
      > a {
        display: block;
        padding: .7em 1.3em;
        clear: both;
        
        &:hover {
          background: rgb(66, 139, 202);
          color: white;
        }
        
      }
    } // > li
  } // > ul.option
  
  &.open {
    > ul.option {
      display: block;
    }
  }
  
}

